
body {
    height:100vh;
    margin:0;
    display:flex; 
    flex-direction:column; 
}
footer{
    min-height:50px;
    background:cadetblue;
    display: flex;
    margin-top:auto; 
}

.center {
    margin: auto;
    width: fit-content;
}