
body {
    height:100vh;
    margin:0;
    display:flex;
    flex-direction:column;
}
footer{
    min-height:50px;
    background:cadetblue;
    display: flex;
    margin-top:auto;
}

.center {
    margin: auto;
    width: fit-content;
}

.inline {
    display:inline;
}

.extended-background {
    border-radius: 5px;
    padding: 3px;
}

.spoiler {
    color: #2F324A;
    background-color: #2F323A;
}
